<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyTitleGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SpotifyTitleGrabber.Properties.Settings>
            <setting name="ListPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSongPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleFormatNoRemix" serializeAs="String">
                <value />
            </setting>
        </SpotifyTitleGrabber.Properties.Settings>
    </userSettings>
</configuration>
